services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
      target: dev
    env_file:
      - ./apps/api/.env
    volumes:
      - ./apps/api:/app/apps/api
      - /app/apps/api/node_modules
      - ./packages:/app/packages

  db:
    env_file:
      - ./apps/api/.env
