services:
  api:
    build:
      context: .
      dockerfile: infra/docker/node-nx-api/Dockerfile
      target: dev
      args:
        NODE_VERSION: '22'
        API_WORKSPACE_PATH: 'apps/api'
        NX_PROJECT: 'api'
        DEV_WORKSPACE: '@app/api'
        NODE_ENTRYPOINT: 'apps/api/dist/index.js'
    env_file:
      - ./apps/api/.env
    volumes:
      - ./apps/api:/app/apps/api
      - /app/apps/api/node_modules
      - ./packages:/app/packages

  db:
    env_file:
      - ./apps/api/.env
