name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      deploy_backend:
        type: boolean
        default: true
      deploy_frontend:
        type: boolean
        default: true

jobs:
  deploy:
    uses: reharik/cannibal-infra/.github/workflows/deploy-ec2.yml@main
    with:
      deploy_backend: ${{ github.event.inputs.deploy_backend || true }}
      deploy_frontend: ${{ github.event.inputs.deploy_frontend || true }}
    secrets: inherit