name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      deploy_backend:
        type: boolean
        default: true
      deploy_frontend:
        type: boolean
        default: true

jobs:
  deploy:
    uses: reharik/cannibal-infra/.github/workflows/deploy-ec2.yml@main
    with:
      deploy_backend: ${{ inputs.deploy_backend }}
      deploy_frontend: ${{ inputs.deploy_frontend }}
    secrets: inherit